---
title: Home

breadcrumb_items:
  - name: Home
    url: /
  - name: Library
    url: /library
  - name: Data
    url: /library/data

list_group:
  - Cras justo odio
  - Dapibus ac facilisis in
  - Vestibulum at eros
---

<div class="jumbotron">
  <h1 class="display-4">{{ site.title }}</h1>
  <p class="lead">{{ site.description }}</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In risus lectus, volutpat eget eros eu, pellentesque placerat odio.</p>
  <a class="btn btn-primary btn-lg" href="{{ '/about' | prepend: site.baseurl }}">Learn more</a>
</div>

<p>Duis justo odio, accumsan non tortor sed, suscipit pretium dui. Etiam eros lectus, vehicula et mauris in, dapibus feugiat diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget lacinia elit. Proin placerat arcu et est suscipit, quis condimentum felis dictum. Nunc sollicitudin, dui sed cursus pharetra, elit dui luctus justo, non fermentum urna ex id diam. Etiam volutpat mattis odio et blandit. Quisque consectetur rutrum tristique. Nullam convallis tellus id bibendum rutrum. Duis placerat turpis lobortis massa convallis, id condimentum neque congue. Curabitur molestie fringilla est. Nulla ante magna, pharetra eu dui id, sodales consectetur tellus. Phasellus id efficitur enim. Cras finibus laoreet lorem.</p>

<h2 class="my-5">Alert</h2>

{% include components/alert.html
  content="A simple info alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like."
  color="info"
  dismissible="true"
%}

<h2 class="my-5">Badge</h2>

{% include components/badge.html
  content="Badge"
  color="info"
  pill="false"
  url="#"
%}

<h2 class="my-5">Breadcrumb</h2>

{% include components/breadcrumb.html
  items=page.breadcrumb_items
%}

<h2 class="my-5">Button</h2>

{% include components/button.html
  content="Button"
  color="info"
  type="submit"
  outline="true"
  size="lg"
  block="true"
  state="active"
%}

<h2 class="my-5">Card</h2>

{% include components/card.html
  style="width: 20rem"
  width="50"
  text-align="center"
  header="Card Header"
  title="Card Title"
  subtitle="Card subtitle"
  text="Some quick example text to build on the card title and make up the bulk of the card's content."
  link="#"
  link-text="Card Link"
  body="<p class='card-text'>This card has supporting text below as a natural lead-in to additional content.</p><p class='card-text'><small class='text-muted'>Last updated 3 mins ago</small></p>"
  footer="Card Footer"
  img-top="https://via.placeholder.com/350x150"
  img-top-alt="Card Top Image"
  img-bottom="https://via.placeholder.com/350x150"
  img-bottom-alt="Card Bottom Image"
  list-group=page.list_group
%}

<h2 class="my-5">Pagination</h2>

{% for post in paginator.posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">by {{ post.author }} on {{ post.date }}</h6>
      <p class="card-text">{{ post.description | truncatewords: 30 }}</p>
    </div>
  </div>
{% endfor %}

{% include components/pagination.html
  previous="&laquo; Previous"
  next="Next &raquo;"
  size="lg"
  align="end"
%}
