<div class="container my-5 text-center small">
  <hr>
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
