{% assign class = "alert" %}
{% assign color = "primary" %}

{% if include.color %}
  {% assign color = include.color %}
{% endif %}

{% assign class = class | append: " alert-" | append: color %}

{% if include.dismissible == "true" %}
  {% assign class = class | append: " alert-dismissible fade show" %}
{% endif %}

<div class="{{ class }}" role="alert">
  {{ include.content }}
  {% if include.dismissible == "true" %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  {% endif %}
</div>
