{% assign class = "btn" %}
{% assign color = "primary" %}
{% assign state = "" %}

{% if include.color %}
  {% assign color = include.color %}
{% endif %}

{% assign class = class | append: " btn-" | append: color %}

{% if include.outline == "true" %}
  {% assign class = class | append: " btn-outline-" | append: color %}
{% endif %}

{% if include.size %}
  {% assign class = class | append: " btn-" | append: include.size %}
{% endif %}

{% if include.block == "true" %}
  {% assign class = class | append: " btn-block" %}
{% endif %}

{% if include.state == "active" %}
  {% assign state = " active" %}
{% endif %}

{% if include.state == "disabled" %}
  {% assign state = " disabled" %}
{% endif %}

{% if include.url %}
  <a class="{{ class }}" href="{{ include.url }}" role="button"{{ state }}>{{ include.content }}</a>
{% else if include.type == "button" %}
  <input class="{{ class }}" type="button" value="{{ include.content }}"{{ state }}>
{% else if include.type == "submit" %}
  <input class="{{ class }}" type="submit" value="{{ include.content }}"{{ state }}>
{% else if include.type == "reset" %}
  <input class="{{ class }}" type="reset" value="{{ include.content }}"{{ state }}>
{% else %}
  <button type="button" class="{{ class }}"{{ state }}>{{ include.content }}</button>
{% endif %}
