{% assign previous = "Previous" %}
{% assign next = "Next" %}
{% assign class = "pagination" %}

{% if include.previous %}
  {% assign previous = include.previous %}
{% endif %}

{% if include.next %}
  {% assign next = include.next %}
{% endif %}

{% if include.size %}
  {% assign class = class | append: " pagination-" | append: include.size %}
{% endif %}

{% if include.align %}
  {% assign class = class | append: " justify-content-" | append: include.align %}
{% endif %}

{% if paginator.total_pages > 1 %}
  <nav aria-label="Pagination">
    <ul class="{{ class }}">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ previous }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1">{{ previous }}</span>
        </li>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == 1 %}
          <li class="page-item{% if page == paginator.page %} active{% endif %}">
            <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}{% if page == paginator.page %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% else %}
          <li class="page-item{% if page == paginator.page %} active{% endif %}">
            <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}{% if page == paginator.page %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">{{ next }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1">{{ next }}</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
