{% assign prev = "Previous" %}
{% assign next = "Next" %}

{% if include.prev %}
  {% assign prev = include.prev %}
{% endif %}

{% if include.next %}
  {% assign next = include.next %}
{% endif %}

{% if paginator.total_pages > 1 %}
  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ include.prev }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1">{{ include.prev }}</span>
        </li>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == 1 %}
          <li class="page-item{% if page == paginator.page %} active{% endif %}">
            <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}{% if page == paginator.page %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% else %}
          <li class="page-item{% if page == paginator.page %} active{% endif %}">
            <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}{% if page == paginator.page %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">{{ include.next }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1">{{ include.next }}</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
